USE [master]
GO
/****** Object:  Database [FitnessLifestyleDB]    Script Date: 4/8/2026 12:06:05 AM ******/
CREATE DATABASE [FitnessLifestyleDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FitnessLifestyleDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\FitnessLifestyleDB.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FitnessLifestyleDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\FitnessLifestyleDB_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FitnessLifestyleDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FitnessLifestyleDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/8/2026 12:06:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Badges]    Script Date: 4/8/2026 12:06:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Badges](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IconUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Badges] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Exercises]    Script Date: 4/8/2026 12:06:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exercises](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Category] [nvarchar](max) NULL,
	[VideoUrl] [nvarchar](max) NULL,
	[MetValue] [float] NOT NULL,
	[CaloriesPerMinute] [int] NOT NULL DEFAULT ((0)),
	[PoseAngles] [nvarchar](max) NULL,
	[AiConfig] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NOT NULL DEFAULT (N''),
 CONSTRAINT [PK_Exercises] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Foods]    Script Date: 4/8/2026 12:06:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Foods](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Calories] [float] NOT NULL,
	[Protein] [float] NOT NULL,
	[Carbs] [float] NOT NULL,
	[Fat] [float] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Foods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MedicalProfiles]    Script Date: 4/8/2026 12:06:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalProfiles](
	[UserId] [int] NOT NULL,
	[Height] [float] NOT NULL,
	[Weight] [float] NOT NULL,
	[Age] [int] NOT NULL,
	[Gender] [int] NOT NULL,
	[ActivityLevel] [int] NOT NULL,
	[Goal] [int] NOT NULL,
	[BMR] [float] NOT NULL,
	[TDEE] [float] NOT NULL,
 CONSTRAINT [PK_MedicalProfiles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NutritionLogs]    Script Date: 4/8/2026 12:06:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NutritionLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FoodId] [int] NOT NULL,
	[Quantity] [float] NOT NULL,
	[MealType] [int] NOT NULL,
	[LogDate] [datetime2](7) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NutritionLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserBadges]    Script Date: 4/8/2026 12:06:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserBadges](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BadgeId] [int] NOT NULL,
	[EarnedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserBadges] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/8/2026 12:06:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WorkoutSessions]    Script Date: 4/8/2026 12:06:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkoutSessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ExerciseId] [int] NOT NULL,
	[Reps] [int] NOT NULL,
	[Sets] [int] NOT NULL,
	[DurationInSeconds] [float] NOT NULL,
	[CaloriesBurned] [float] NOT NULL,
	[AccuracyScore] [float] NOT NULL,
	[PerformedAt] [datetime2](7) NOT NULL,
	[Date] [datetime2](7) NOT NULL DEFAULT ('0001-01-01T00:00:00.0000000'),
	[DurationMinutes] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_WorkoutSessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260406163412_InitialCreate', N'8.0.3')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260406172655_SeedDataV2', N'8.0.3')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260406185113_AddMissingFieldsToModels', N'8.0.3')
SET IDENTITY_INSERT [dbo].[Exercises] ON 

INSERT [dbo].[Exercises] ([Id], [Name], [Description], [Category], [VideoUrl], [MetValue], [CaloriesPerMinute], [PoseAngles], [AiConfig], [ImageUrl]) VALUES (2, N'Push-up', N'', N'Chest', N'pushup_tutorial.mp4', 8, 5, NULL, N'{"type": "pushup", "targetAngle": 90}', N'')
INSERT [dbo].[Exercises] ([Id], [Name], [Description], [Category], [VideoUrl], [MetValue], [CaloriesPerMinute], [PoseAngles], [AiConfig], [ImageUrl]) VALUES (3, N'Plank', N'Bài tập giữ người thẳng cho cơ lõi (core).', N'Abs', N'plank_tutorial.mp4', 3, 0, NULL, NULL, N'')
INSERT [dbo].[Exercises] ([Id], [Name], [Description], [Category], [VideoUrl], [MetValue], [CaloriesPerMinute], [PoseAngles], [AiConfig], [ImageUrl]) VALUES (4, N'Squat', N'', NULL, NULL, 0, 10, NULL, NULL, N'')
SET IDENTITY_INSERT [dbo].[Exercises] OFF
SET IDENTITY_INSERT [dbo].[Foods] ON 

INSERT [dbo].[Foods] ([Id], [Name], [Calories], [Protein], [Carbs], [Fat], [ImageUrl]) VALUES (1, N'Ức gà (100g)', 165, 31, 0, 3.6, NULL)
INSERT [dbo].[Foods] ([Id], [Name], [Calories], [Protein], [Carbs], [Fat], [ImageUrl]) VALUES (2, N'Gạo lứt (100g)', 110, 2.6, 23, 0.9, NULL)
INSERT [dbo].[Foods] ([Id], [Name], [Calories], [Protein], [Carbs], [Fat], [ImageUrl]) VALUES (3, N'Trứng gà (1 quả)', 78, 6, 0.6, 5, NULL)
SET IDENTITY_INSERT [dbo].[Foods] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Email], [PasswordHash], [Role], [CreatedAt]) VALUES (2, N'vinhadmin2', N'vle2362005@gmail.com', N'$2a$11$ax9.oJCwBAjiuOZg9TjWEOGUW43I4K5jgJlK0UpWPEbzdAQaUeZCa', 1, CAST(N'2026-04-07 07:28:02.9970050' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Username], [Email], [PasswordHash], [Role], [CreatedAt]) VALUES (5, N'tienp', N'', N'$2a$11$btnotalRZ.53IKJWNNny0elKl6JeS7tJrQpBJthOf4s/iXGZh1v.a', 0, CAST(N'2026-04-07 14:16:53.0744712' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Username], [Email], [PasswordHash], [Role], [CreatedAt]) VALUES (7, N'tri', N'', N'$2a$11$Wj6uY5s.8/4mHhoeW.qP8O1sipEfP/KAMA30RqSf60zpsfzMFQnjG', 0, CAST(N'2026-04-07 16:18:50.7954227' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[WorkoutSessions] ON 

INSERT [dbo].[WorkoutSessions] ([Id], [UserId], [ExerciseId], [Reps], [Sets], [DurationInSeconds], [CaloriesBurned], [AccuracyScore], [PerformedAt], [Date], [DurationMinutes]) VALUES (1, 2, 5, 0, 0, 0, 15, 0, CAST(N'2026-04-07 23:23:47.4635888' AS DateTime2), CAST(N'2026-04-07 16:23:47.4650891' AS DateTime2), 1)
INSERT [dbo].[WorkoutSessions] ([Id], [UserId], [ExerciseId], [Reps], [Sets], [DurationInSeconds], [CaloriesBurned], [AccuracyScore], [PerformedAt], [Date], [DurationMinutes]) VALUES (2, 2, 2, 0, 0, 0, 5, 0, CAST(N'2026-04-07 23:44:45.8760304' AS DateTime2), CAST(N'2026-04-07 16:44:45.8764298' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[WorkoutSessions] OFF
/****** Object:  Index [IX_NutritionLogs_FoodId]    Script Date: 4/8/2026 12:06:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_NutritionLogs_FoodId] ON [dbo].[NutritionLogs]
(
	[FoodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_NutritionLogs_UserId]    Script Date: 4/8/2026 12:06:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_NutritionLogs_UserId] ON [dbo].[NutritionLogs]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserBadges_BadgeId]    Script Date: 4/8/2026 12:06:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserBadges_BadgeId] ON [dbo].[UserBadges]
(
	[BadgeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserBadges_UserId]    Script Date: 4/8/2026 12:06:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserBadges_UserId] ON [dbo].[UserBadges]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkoutSessions_ExerciseId]    Script Date: 4/8/2026 12:06:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_WorkoutSessions_ExerciseId] ON [dbo].[WorkoutSessions]
(
	[ExerciseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkoutSessions_UserId]    Script Date: 4/8/2026 12:06:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_WorkoutSessions_UserId] ON [dbo].[WorkoutSessions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NutritionLogs] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [Date]
GO
ALTER TABLE [dbo].[MedicalProfiles]  WITH CHECK ADD  CONSTRAINT [FK_MedicalProfiles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MedicalProfiles] CHECK CONSTRAINT [FK_MedicalProfiles_Users_UserId]
GO
ALTER TABLE [dbo].[NutritionLogs]  WITH CHECK ADD  CONSTRAINT [FK_NutritionLogs_Foods_FoodId] FOREIGN KEY([FoodId])
REFERENCES [dbo].[Foods] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NutritionLogs] CHECK CONSTRAINT [FK_NutritionLogs_Foods_FoodId]
GO
ALTER TABLE [dbo].[NutritionLogs]  WITH CHECK ADD  CONSTRAINT [FK_NutritionLogs_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NutritionLogs] CHECK CONSTRAINT [FK_NutritionLogs_Users_UserId]
GO
ALTER TABLE [dbo].[UserBadges]  WITH CHECK ADD  CONSTRAINT [FK_UserBadges_Badges_BadgeId] FOREIGN KEY([BadgeId])
REFERENCES [dbo].[Badges] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserBadges] CHECK CONSTRAINT [FK_UserBadges_Badges_BadgeId]
GO
ALTER TABLE [dbo].[UserBadges]  WITH CHECK ADD  CONSTRAINT [FK_UserBadges_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserBadges] CHECK CONSTRAINT [FK_UserBadges_Users_UserId]
GO
ALTER TABLE [dbo].[WorkoutSessions]  WITH CHECK ADD  CONSTRAINT [FK_WorkoutSessions_Exercises_ExerciseId] FOREIGN KEY([ExerciseId])
REFERENCES [dbo].[Exercises] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkoutSessions] CHECK CONSTRAINT [FK_WorkoutSessions_Exercises_ExerciseId]
GO
ALTER TABLE [dbo].[WorkoutSessions]  WITH CHECK ADD  CONSTRAINT [FK_WorkoutSessions_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkoutSessions] CHECK CONSTRAINT [FK_WorkoutSessions_Users_UserId]
GO
USE [master]
GO
